.logoContainer {
  display: inline-block;
  height: 100%;
  width: 100px;
}

.logoR {
  display: block;
  height: 100%;
  user-select: none;
  -webkit-user-drag: none;
  filter: invert(1);
}

.navbar {
  height: 10vh;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  z-index: 0;
}

.desktop {
  position: absolute;
  z-index: 0;
  top: 10vh;
  height: 90%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
}

.desktop > .iconContainer {
  width: 192px;
  align-items: center;
}

.desktop > .iconContainer .iconImage {
  width: 130px;
  height: 104px;
  object-fit: contain;
  transform: scale(0.55);
}

.navbarElem {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 14px;
  padding-right: 14px;
  z-index: 1;
}

.navbarElemText {
  color: white;
  cursor: pointer;
}

#link {
  text-decoration: none;
  color: white;
}