.main-container {
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 75vw;
}

@media (min-width: 769px) {
    .intro-row,
    .content-row {
        display: flex;
        justify-content: center;
        gap: 3vw;
        margin-bottom: 2vh;
    }

    .intro-row {
        align-items: flex-end;
    }

    .name {
        font-size: 4vw;
        margin: 0;
    }
    
    .main-body {
        margin: 0;
    }

    .left-col {
        text-align: right;
        flex: 1;
    }

    .right-col {
        text-align: left;
        flex: 1;
        width: 70vw;
        font-size: 1.45vw;
    }
}

@media (max-width: 769px) {
    .intro-row,
    .content-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3vw;
        margin-bottom: 2vh;
    }
    
    .name {
        text-align: center;
        font-size: 10vw;
        margin: 0;
    }

    .main-body {
        margin: 0;
    }

    .left-col {
        flex: 1;
        width: 100%;
    }

    .right-col {
        flex: 1;
        width: 100%;
    }
}

.icon {
    width: 5vw;
    height: 5vw;
    filter: brightness(0%);
}

.icon-linkedin {
    width: 5.3vw;
    height: 5.3vw;
    filter: brightness(0%);
}

.footer {
    margin-top: 4vh;
    display: flex;
    justify-content: space-evenly;
}