.App {
}

.logoR {
  position: absolute;
  left: 0vw;
  height: 10vh;
  pointer-events: none;
  filter:invert(1)
}

.topBar {
  height: 10vh;
  background-color: black;
}

.desktop {
  position: absolute;
  z-index: -1;
  top: 10vh;
  height: 90%;
  width: 100%;
}