.logoContainer {
  display: inline-block;
  height: 100%;
  width: 100px;
}

.logoR {
  display: block;
  height: 100%;
  pointer-events: none;
  user-select: none;
  filter:invert(1)
}

.navbar {
  height: 10vh;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  z-index: 0;
}

.desktop {
  position: absolute;
  z-index: -1;
  top: 10vh;
  height: 90%;
  width: 100%;
}

.navbarElem {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 14px;
  padding-right: 14px;
  z-index: 10;
}

.navbarElemText {
  color: white;
  cursor: pointer;
}