.logoR {
    position: absolute;
    left: 0vw;
    height: 10vh;
    cursor: pointer;
    user-select: none;
    filter:invert(1);
}

.iconImage {  
    height: 15vh;
    max-width: 100%;

    width: 130px; /* Desired width for all thumbnails */
    height: 100px; /* Desired height for all thumbnails */
    object-fit: cover; /* Ensures the image fills the box, cropping if necessary */
    border-radius: 2px; /* Optional: Add some rounding to the corners */
    overflow: hidden; /* Ensures that any overflow is clipped */

    user-select: none;
    pointer-events: auto;
    cursor: pointer;
}

.iconContainer {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
}

.iconNameContainer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.iconName {
    text-align: center;
    font-family: monospace;

    user-select: none;
    pointer-events: auto;
}